spring:
  application:
    name: taupay

  datasource:
    url: jdbc:postgresql://localhost:5432/taupay_db
    username: xxxxx
    password: xxxxx

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s
      repositories:
        enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  cache:
    merchant-category-ttl: 1h

jwt:
  secret: your_secret_key
  expiration: 86400000
